
.search-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #dfe1e5; 
    border-radius: 24px; 
  }
  
  .search-bar img {
    width: 100px;
    margin-right: 10px;
  }
  
  .search-bar input {
    flex-grow: 1; 
    padding: 10px;
    font-size: 16px;
    border: none; 
    outline: none;
  }
  
  .languages {
    margin-left: 10px;
  }
  
  .languages p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .languages a {
    margin-right: 10px;
    text-decoration: none;
    color: #1a0dab;
  }
  
  .languages a:hover {
    text-decoration: underline;
  }
  