
.search-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f2f2f2; /* Color de fondo similar al de Google */
    border: 1px solid #dfe1e5; /* Borde similar al de Google */
    border-radius: 24px; /* Bordes redondeados */
  }
  
  .search-bar img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
  }
  
  .search-bar input {
    flex-grow: 1; /* El input ocupa todo el espacio restante */
    padding: 10px;
    font-size: 16px;
    border: none; /* Sin borde */
    outline: none; /* Sin contorno al hacer foco */
  }
  
  .languages {
    margin-left: 10px;
  }
  
  .languages p {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .languages a {
    margin-right: 10px;
    text-decoration: none;
    color: #1a0dab; /* Color de enlace similar al de Google */
  }
  
  .languages a:hover {
    text-decoration: underline;
  }
  