.button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .google-search-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #1a73e8; /* Color azul de Google */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .lucky-button {
    padding: 10px 20px;
    background-color: #fbbc05; /* Color amarillo de Google */
    color: #000; /* Texto negro */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .google-search-button:hover,
  .lucky-button:hover {
    opacity: 0.8; /* Reducir la opacidad al pasar el mouse */
  }
  