.button-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
  .google-search-button {
    padding: 4px 20px;
    margin: 0px 5px;
    background-color: #F8F9FA;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    line-height: 27px;
    user-select: none;
    cursor: pointer;
    text-align: center;
  }

.languages {
    display: flex;
    line-height: 28px;
    color: #4D5156;
    justify-content: center;
    font-size: 14px;

    a {
      font-size: 13px;
      color: #1A0DAB;
      padding: 0px 3px;
    }
}

  