.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;  
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 4px 0px 32px;
  }
  
  .header-link {
    text-decoration: none;
    color: #000000DE;
    font-size: 13px;

  }
  
  .header-link:hover {
    text-decoration: underline;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .header-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .header-icon:hover {
    color: #0c32a1;
  }

  .Btn-login {
    background-color: #1A73E8;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0 8px;
    padding: 9px 23px;
    border-radius: 5px;
    border: 0;
  }
  