/* src/App.css */
.app {
    text-align: center;
  }
  
  .app-header {
    margin-top: 50px;
  }
  
  /* src/components/SearchBar.css */
  .search-bar {
    margin-top: 20px;
  }
  
  .search-bar input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 16px;
  }
  